.products {
    width: 100%;
}

.products__category {
    position: fixed;
    top: 56px;
    padding: 10px;
    background: linear-gradient(teal,teal, transparent);
    width: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.products__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
}